Q1. Cretea program to enter percentage of students and diplay grades as per give, below ?

In [10]:
Perentage = int(input("Enter percentage of the student: "))
print(Perentage)

if(Perentage>=90):
    print("Grade: A")
elif(Perentage >80 & Perentage <=90):
    print("Grade: B")
elif(Perentage >=60 & Perentage <=80):
    print("Grade: C")
else:
    print("Grade: D")

Enter percentage of the student:  80

80
Grade: C

Q2. Write a program to accept the the cost price of bike & display road tax ?

In [17]:
price = int(input("Enter Price of the bike: "))
print(price)

if(price>100000):
    print("Tax: 15%")
elif(price>50000 &  price <=100000):
    print("Tax: 10%")
elif( price<=50000):
    print("Tax: 5%")

Enter Price of the bike:  50000

50000
Tax: 5%

Q3. Enter city from user and type monumnet in that city ?

In [18]:
#AAns 4

city = input("Enter a city")

if city.upper() == "DELHI":

   print("Red Fort")

elif city.upper() == "AGRA":

   print("Taj Mahal")

elif city.upper() == "JAIPUR":

   print("Jal Mahal")

else:

   print("Invalid Entry")

Enter a city delhi

Red Fort

Q4. How many times a number is divisible by 3 ?

In [44]:
n = int(input(" Enter number " , ))
print(n)
     
if (n %3>= 0):
    print(n)
else:
    print("Nuber not divisible")

 Enter number  27

27
27

Q5. When & why use While loop in python using detailed example ?

Ans 5. Python while loop is used to run a block code until a certain condition is met.

The syntax of while loop is:
    
    Here,

A while loop evaluates the condition
If the condition evaluates to True, the code inside the while loop is executed.
condition is evaluated again.
This process continues until the condition is False.
When condition evaluates to False, the loop stops.

In [2]:
#Example
# program to calculate the sum of numbers
# until the user enters zero

# program to display numbers from 1 to 5

# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

Q6. Use Nested loop to print 3 different pattern?

In [3]:
#Pyramid Pattern
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
#Triagle
rows = 6
for i in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [6]:
#Reverse Numbe
start = 1
stop = 2
current_num = stop
for row in range(2, 6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop

1
3 2
6 5 4
10 9 8 7